<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yemu.malladmin.mapper.ImgMapper">
    <resultMap id="ImgMap" type="com.yemu.malladmin.entity.Img">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="pid" property="pid" jdbcType="CHAR"/>
        <result column="path" property="path" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getByPid" resultMap="ImgMap">
        select * from img where pid = #{pid}
    </select>
</mapper>